.navbar-header{
    display: flex;
    align-items: center;
  }

  .navbar-menu{
    background-color: grey;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
  
  }
  .navbar-menu li {
    cursor: pointer;
    padding:5px 10px;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  
  }
  .navbar-menu li:hover{
    color: 	#87CEEB;
  }

  .navbar{
    background-color: grey;
    color:white;
    display: flex;
    justify-content: space-between;
  }
 
  .card-p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  }
 .card{
   height: 280px;
   width: 200px;
 }

 footer{
    margin:0px;
    display: flex;
    justify-content: space-between;
      background-color: black;
      color: #fff;
      padding: 20px;
      height: 200px;
  }

  .logo-footer{
    width: 150px;
    height: 200px;
    padding-left: 30px;
  }

  .icons{
    width: 100x;
    height: 80px;
    padding-top: 50px;
    padding-right: 20px;
  }


  .navbar-footer{
    
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: -190px;
  }
  
  .navbar-footer li {
    padding:5px 10px;
    list-style: none;
  }
  
.navbar-footer-secundary{
  list-style: none;
  padding:5px 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-left: 750px;
  padding-top: -100px;
}
 