body{
  margin:0;
}

.navbar-header{
    display: flex;
    align-items: center;
    height: 150px;
  }

  .navbar-menu{
    background-color: grey;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .navbar-menu li {
    cursor: pointer;
    padding:5px 10px;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  
  }
  .navbar-menu li:hover{
    color: 	#87CEEB;
  }

  .navbar{
    background-image:url() ;
    background-size: 2000px;
    background-color: rgb(18, 18, 18);
    color:white;
    display: flexbox;
    justify-content: space-between;
  }
 
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px; /* Menor espaçamento entre os cards */
    padding: 12px;
  }
  
  .card-main {
    border: 1px solid #ccc;
    border-radius: 6px; 
    overflow: hidden;
    padding: 12px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    width: 400px;
    margin-left: 95px;
  }
  .card-main:hover {
    transform: scale(1.05);
}

  .card-principal{
    padding-left: 100px;
  }
  .card-main img.card {
    border-bottom: 1px solid #ddd;
  }
  
  .card-p {
    padding-left: 100px;
    margin: 4px 0; /* Margens menores para texto */
    font-size: 0.9rem; /* Fonte um pouco menor */
  }
  
  button {
    background-color: #1c232a;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem; /* Fonte um pouco menor */
  }
  
  button:hover {
    background-color: #153c66;
  }
  
  .button-principal{
    margin-left: 99px;
   
  }


  .card-p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  }
 .card{
   height: 280px;
   width: 200px;
 }

 footer{
    margin:0px;
    display: flex;
    justify-content: space-between;
      background-color: black;
      color: #fff;
      padding: 20px;
      height: 200px;
  }

  .logo-footer{
    width: 150px;
    height: 200px;
    padding-left: 30px;
  }

  .icons{
    width: 100x;
    height: 80px;
    padding-top: 50px;
    padding-right: 20px;
  }


  .navbar-footer{
    
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: -190px;
  }
  
  .navbar-footer li {
    padding:5px 10px;
    list-style: none;
  }
  
.navbar-footer-secundary{
  list-style: none;
  padding:5px 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-left: 750px;
  padding-top: -100px;
}
 

.img-carousel{
  width: 1000px;
  height: 770px;
}

.img-app{
  padding-top: 100px;
}

.img-brasil{
  padding-left: 1800px;
  margin-top: -240px;
}

.img-br{
  height: 30px ;
  width: 40px;
}

.img-bra{
  list-style: none;
}