body{
  margin:0;
  background-color: #fff;
}

.navbar-header{
    display: flex;
    align-items: center;
    height: 90px;
  }

  .navbar-menu{
    display: flex;
    margin-left: 70px ;
  }
  .navbar-menu li {
    cursor: pointer;
    padding:5px 20px;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-size: 25px;
    color: black;
  }
  .navbar-menu li:hover{
    transform:  scaleX(1.05);
  }

  .navbar{
    background-color: #fff;
    color: black;
    display: flexbox;
    justify-content: space-between;
  }

  .logo-nav{
    width: 150px;
    height: 35px;
  }

  .carrinho{
    height: 35px;
    width: 35px;
    padding-top: -2px ;
    padding-left: 670x;
  }
  
  .login{
    height: 35px;
    width: 35px;
    padding-left: px;
    gap: 10px 15px;
  }
 
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px; /* Menor espaçamento entre os cards */
    padding: 12px;
  }
  
  .card-main {
    border-radius: 8px; 
    overflow: hidden;
    padding: 14px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
    width: 300px;
    margin-left: 95px;
  }

  .card-main:hover {
    transform: scale(1.05);
}

  .card-principal{
    padding-left: 50px;
  }
  .card-main img.card {
    border-bottom: 1px solid #ddd;
  }
  
  .card-p {
    padding-left: 50px;
    margin: 4px 0; /* Margens menores para texto */
    font-size: 0.9rem; /* Fonte um pouco menor */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
  }
  
  button {
    padding-right: 100px;
    background-color: #1c232a;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem; /* Fonte um pouco menor */
    
  }
  
  button:hover {
    background-color: #153c66;
  }
  
  .button-principal{
    margin-left: 50px;
   
  }



 .card{
   height: 280px;
   width: 200px;
   border-radius: 8px;
   padding-right: 20px;
 }

 footer{
    margin:0px;
    display: flex;
    justify-content: space-between;
      background-color: black;
      color: #fff;
      padding: 20px;
      height: 330px;
      background-image:url(https://www.bawclothing.com.br/live/invoke/website/loaders/image.ts?src=https%3A%2F%2Fozksgdmyrqcxcwhnbepg.supabase.co%2Fstorage%2Fv1%2Fobject%2Fpublic%2Fassets%2F1285%2Ff34d3af6-2064-4565-bd35-b4e65bd3b9eb&fit=cover&width=1440&height=400) ;
    
  }

  .logo-footer{
    width: 150px;
    height: 200px;
    padding-left: 30px;
  }

  

  .navbar-footer{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 10px;
  margin-top: -190px;
  color:grey;
  }
  
  .navbar-footer li {
    padding:10px 15px;
    list-style: none;
    padding-left: 300px;
  }
  
.navbar-secundary{
  list-style: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 10px;
  color:grey;
}
.navbar-secundary li {
  padding:10px 15px;
  list-style: none;
  padding-left: 500px;
  margin-top: -100px;
}
 

.img-carousel{
  width: 1000px;
  height: 770px;
}

.img-app{
  padding-top: 100px;
}








/* Para telas menores que 768px (dispositivos móveis) */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* Para tablets e telas pequenas de notebooks */
@media (min-width: 769px) and (max-width: 1024px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (min-width: 1025px) {
  .header {
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
  }
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr; /* Um card por linha */
    padding: 8px;
    padding-right: 50px;
  }
}

/* Para tablets e telas pequenas de notebooks */
@media (min-width: 769px) and (max-width: 1024px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr); /* Dois cards por linha */
  }
}

@media (min-width: 1025px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr); /* Três cards por linha */
    gap: 14px; /* Espaçamento padrão entre os cards */
  }
}










@media (max-width: 768px) {
  .img-carousel {
    width: 100%;
    height: auto; /* Mantém a proporção da imagem */
  }
}

/* Para tablets e telas menores de notebooks */
@media (min-width: 769px) and (max-width: 1024px) {
  .img-carousel {
    width: 100%;
    height: auto; /* Mantém a proporção da imagem */
  }
}

/* Para telas grandes e notebooks */
@media (min-width: 1025px) {
  .img-carousel {
    width: 1000px;
    height: 770px;
  }
}